@font-face {
  font-family: "Amatic SC";
  src: url("/fonts/AmaticSC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Amatic SC";
  src: url("/fonts/AmaticSC-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Amatic SC", sans-serif;
}
